html body
{
  background-color: #000 !important;
  filter: invert(100%) grayscale(100%);
  -webkit-filter: invert(100%) grayscale(100%);
}
html body a { text-decoration: underline; }
html body img:not(.noFilterCI),
html body iframe:not(.noFilterCI),
html body video:not(.noFilterCI),
html body .noFilter
{
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
